.App {
  height: 100vh !important;
  overflow-y: hidden;
overflow-x: hidden;
  width: 100%;
  background-color: rgba(243,242,239, 1) !important;
}

.App__body { 
  display: flex;
  padding-top: 20px;
 justify-content: center;
   gap:  19px;

}


@media screen  and (max-width : 810px){
  .App__body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap !important;
    padding: 10px 10px 19px;
    background-color: rgba(243,242,239, 1) !important;
    
  }
  .App {
    overflow-y: scroll; 
    overflow-x: hidden;
  }
}




