.feed {
   flex: 0.29;
 margin-left: 5px;

}

.feed__post {
  overflow-y: scroll !important;
  scroll-behavior: smooth;
  height: 71vh;
  margin-right: -6px;

}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;

}


@media screen and (max-width: 810px) {
  .feed__post {
  overflow: visible !important;
    height: auto;

  }

  .feed__post {
    margin-right: 0px;
  }
}


