.post {
   background-color: white; 
   border: 1px solid #d9d9d9; 
   padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding-right: 15px;
  flex-direction: column;
  gap: 3px;
  
}

.post__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post__topleft {
  display: flex;
  gap: 8px;
  flex-direction: row !important;
}
.post__toplefttitle {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.post__toptitlemain {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.post__toptitlemain h3 {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  
}

.post__toplefttime {
  display: flex;
  align-items: center;
  gap: 3px;
}

.Dot {
 font-weight: bolder;
 color: gray;
}

.post__toplefttime .MuiSvgIcon-root {
  font-size: 18px;
}
.post__toplefttime p {
  font-size: small;
}

.post__topright {
  margin-top: -6px;
}

.post__mid {
  font-size: 16px;
  font-weight: 480;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-right: 5px;
word-wrap: break-word;
word-break: break-all;
 

}

.post__bottom {
  display: flex;
  margin-top: 6px;
  gap: 30px;
  justify-content: space-evenly;
}

.post__bottom Button {
  font-size: 12px !important;
}

@media screen and (max-width : 810px) {
  .post__bottom Button {
    width: 100%;
    font-size: 11px !important;
  }
}




